{{!< default}}

{{#post}}

<main class='o-wrapper'>
  <article>
    {{> post-header }}

    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s'>
        <div class='c-{{ post_class }}'>
          <div class='c-content {{#unless access}} c-content--has-shadow {{/unless}}'>
            {{ content }}
          </div>

          {{!-- Show the tags, share, subscribe box, and comments if visitor can access the post, this means that:
          1. The post is public for anyone
          2. The post is published for subscribers and the visitor is a subscriber
          3. The post is for paid members only and the visitor is a paid member --}}
          {{#if access}}
            {{#if tags}}
              <div class='c-tags'>
                {{ tags separator='' }}
              </div>
            {{/if}}

            {{> share }}

            {{> comments/ghost }}
          {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
          {{else}}
            {{> post-upgrade-cta }}
          {{/if}}

          {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
          {{#unless @member}}
            {{#if @site.members_enabled}}
              {{#unless @site.members_invite_only}}
                <div class='c-subscribe'>
                  <div class='o-grid'>
                    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>
                      <div data-icon='ei-envelope' data-size='m' class='c-subscribe__icon'></div>
                      <h3 class='u-type-sm u-type-500 u-color-gray u-mb-32'>{{t 'Join the newsletter to receive the latest updates in your inbox.' }}</h3>
                      {{> subscribe-form inputLabel='subscribe-email-post'}}
                    </div>
                  </div>
                </div>
              {{/unless}}
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>
  </article>
</main>

{{/post}}

{{> related-posts}}